/* 
BRAND_COLOR=#EB568E
BLUE-COLOR:#144EE3
pink-color:#EB568E
GRAY:#0B101B
GRAY2;#0B101B
GRAY3-LIGHT:#C9CED6
GRAY4:#181E29
GRIDIANT;#000000

copy Icon: <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
  <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 17.25v3.375c0 .621-.504 1.125-1.125 1.125h-9.75a1.125 1.125 0 0 1-1.125-1.125V7.875c0-.621.504-1.125 1.125-1.125H6.75a9.06 9.06 0 0 1 1.5.124m7.5 10.376h3.375c.621 0 1.125-.504 1.125-1.125V11.25c0-4.46-3.243-8.161-7.5-8.876a9.06 9.06 0 0 0-1.5-.124H9.375c-.621 0-1.125.504-1.125 1.125v3.5m7.5 10.375H9.375a1.125 1.125 0 0 1-1.125-1.125v-9.25m12 6.625v-1.875a3.375 3.375 0 0 0-3.375-3.375h-1.5a1.125 1.125 0 0 1-1.125-1.125v-1.5a3.375 3.375 0 0 0-3.375-3.375H9.75" />
</svg>


copy icon:<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
  <path stroke-linecap="round" stroke-linejoin="round" d="M13.19 8.688a4.5 4.5 0 0 1 1.242 7.244l-4.5 4.5a4.5 4.5 0 0 1-6.364-6.364l1.757-1.757m13.35-.622 1.757-1.757a4.5 4.5 0 0 0-6.364-6.364l-4.5 4.5a4.5 4.5 0 0 0 1.242 7.244" />
</svg>

LoginIcon :<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
  <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0 0 13.5 3h-6a2.25 2.25 0 0 0-2.25 2.25v13.5A2.25 2.25 0 0 0 7.5 21h6a2.25 2.25 0 0 0 2.25-2.25V15m3 0 3-3m0 0-3-3m3 3H9" />
</svg>

LINK ICON:<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
  <path stroke-linecap="round" stroke-linejoin="round" d="M13.19 8.688a4.5 4.5 0 0 1 1.242 7.244l-4.5 4.5a4.5 4.5 0 0 1-6.364-6.364l1.757-1.757m13.35-.622 1.757-1.757a4.5 4.5 0 0 0-6.364-6.364l-4.5 4.5a4.5 4.5 0 0 0 1.242 7.244" />
</svg>


*/

body {
  margin: 0;
  padding: 0;
  background-image: url('./../public/img/background3D.jpg');
  background-position: center;
  background-size: cover;
  overflow-x: hidden;
}
html {
  font-size: 62.5%;
}

.home {
  background-color: rgba(24, 30, 41, 0.95);
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}
.modal {
  /* background-color: rgba(24, 30, 41, 0.5); */
}
.header-container {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
  align-items: center;
  padding-left: 5rem;
  padding-right: 5rem;
  flex-wrap: wrap;
  margin-bottom: 5rem;
}
.btn {
  margin-left: 2rem;
}
.brandName {
  background-image: linear-gradient(to right, #eb568e, #144ee3);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  /* color: #c9ced6; */
  font-size: 3.5rem;
  font-weight: 900;
  margin-left: 9%;
}
.login-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-icon {
  width: 20px;
  height: 20px;
  margin-left: 1rem;
}
.briefly-heading {
  background-image: linear-gradient(
    to right,
    #144ee3 30%,
    #eb568e 50%,
    #144ee3 70%
  );

  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 3rem;
  text-align: center;
}
.brief-intro {
  color: #c9ced6;
  text-align: center;
  font-size: 1.8rem;
  padding: 0.3rem 0.3rem;
}
em {
  color: #eb568e;
  text-transform: uppercase;
  text-decoration: none;
  font-style: normal;
}
.plachol-wrapper {
  background-color: #3c3c3c;
  width: 50%;
  margin: 0 auto;
  border-radius: 20px 20px;
  border: 2px solid #5e5f61;
  min-height: 3.2rem;
  padding-left: 0.8rem;
  padding-right: 0.6rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}
.expand {
  min-width: 50%;
  background-color: #3c3c3c;
  margin: 0 auto;
  border-radius: 20px 20px;
  border: 2px solid #5e5f61;
  min-height: 3.2rem;
  padding-left: 0.8rem;
  padding-right: 0.6rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}
.plchol-input {
  background-color: #3c3c3c;
  color: #c9ced6;
  outline: none;
  border: none;
  border-right: 2px solid #eb568e;
}
.plchol-input::placeholder {
  color: #c9ced6;
  font-size: 1.2rem;
  text-transform: capitalize;
  padding-left: 0.3rem;
}
.short-plhol {
  padding: 1rem 1rem;
}
.img-wrapper {
  width: 70%;
  height: 30rem;
  margin: 0 auto;
  padding-top: 2rem;
  box-sizing: border-box;
}
.img-shortner {
  width: 100%;
  height: 100%;
}
footer {
  background-color: #0b101b;
  padding-top: 2rem;
  color: #c9ced6;
  text-align: center;
  font-size: 1.4rem;
  padding-bottom: 2rem;
}
.link-icon {
  width: 20px;
  height: 20px;
  stroke: #c9ced6;
}

.login-form {
  width: 30%;
  min-height: 30rem;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-start;
  padding: 5rem 5rem;
  box-sizing: border-box;
  margin: 0 auto;
  font-size: 1.5rem;
}
.form-input {
  width: 90%;
  border: none;
  outline: none;
  border-bottom: 1.5px solid #0b101b;
}
.NavLink,
.btn,
.login-btn,
.shorten-btn,
.form-btn {
  min-width: 100px;
  min-height: 20px;
  padding: 8px;
  padding-right: 10px;
  padding-left: 5px;
  font-size: 15px;
  outline: none;
  border: none;
  text-transform: capitalize;
  letter-spacing: 0.2px;
  box-sizing: border-box;
  border-radius: 15px;
  margin-left: 2rem;
  cursor: pointer;
  text-decoration: none;
  color: #c9ced6;
  background-color: #144ee3;
}

.NavLink:hover,
.btn:hover,
.shorten-btn:hover {
  background-color: #5e5f61;
  color: #c9ced6;
}
.login-btn {
  background-color: #3c3c3c;
  color: #fff;
}
.login-btn:hover {
  background-color: #5e5f61;
  color: #c9ced6;
}
.shorten-btn {
  width: 85%;
  margin-top: 2rem;
  display: none;
  text-decoration: none;
}
.form-btn {
  width: 90%;
  padding-left: 0;
  margin-left: 0;
}
.pop {
  background-color: rgba(24, 30, 41, 1);
  width: 100%;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 95%;
  /* border: solid red; */
  display: block;
}
.pop-content {
  background-color: red;
  position: fixed;
  top: 0;
  left: 40%;
  color: #fff;
  padding: 0.5rem 0.5rem;
  min-width: 15rem;
  min-height: 2rem;
  box-sizing: border-box;
  border-radius: 8px 8px;
  text-align: center;
}
.success {
  background-color: green;
  color: #c9ced6;
}
.Profile {
  color: #c9ced6;
  font-size: 1.2rem;
  /* border: solid red; */
  width: 20rem;
}
.short-phol2 {
  /* border: solid #144ee3; */
  width: 40%;
}
.table-container {
  padding-bottom: 10rem;
}
table {
  width: 80%;
  border-collapse: collapse;
  overflow-x: hidden;
  margin: 0 auto;
}

td,
th {
  padding: 8px;
  /* border: 1px solid #ddd; */
  max-width: 300px;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}
th {
  font-size: 1.5rem;
  color: #c9ced6;
  background-color: #0b101b;
  text-align: left;
  padding: 1.5rem 1.5rem;
}
td {
  /* background-color: #202020; */
  color: #c9ced6;
  padding: 1.2rem 2rem;

  /* text-align: center; */
}
td.long-content {
  overflow-x: hidden;
}
.newUrlTr {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}
.clip-copy {
  stroke: #c9ced6;
  width: 15px;
  height: 15px;
  margin-left: 1rem;
  cursor: pointer;
}
.td-icon {
  display: flex;
  align-items: center;
  margin-left: -4rem;
}
.qrcode-container {
  width: 15px;
  height: 15px;
  display: block;
}
.qrcode-pic {
  width: 15px;
  height: 15px;
  box-sizing: border-box;
}
.modal-child-wrapper {
  width: 40%;
}
.modal-container {
  background-color: rgba(24, 30, 41, 0);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 100rem;
}
.form-modal {
  min-height: 5rem;
  background-color: #101931;
  transform: translateY(80%);
  /* margin-bottom: 1rem; */
}
.outlet-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  /* padding-top: 5%;
  tran */
}
.modal-input {
  background-color: #302e2e;
  padding: 0.5rem 0.5rem;
  border: 1.5px solid #c9ced6;
  border-radius: 8px 8px;
  color: #c9ced6;
}
.harmbuger {
  width: 50px;
  height: 50px;
  stroke: #c9ced6;
  display: none;
  cursor: pointerb;
}
.btn-edit,
.btn-delete {
  background-color: rgba(24, 30, 41, 0.1);
  color: #c9ced6;
  border: none;
}
.btn-edit:hover,
.btn-delete:hover {
  background-color: rgba(24, 30, 41, 0.1);
  color: #c9ced6;
  border: none;
}
.cancel-btn {
  display: block;
  width: 95%;
  background-color: #302e2e;
  color: #c9ced6;
  margin-left: 0;
  margin-top: -1rem;
}
.cancel-btn:hover {
  background-color: #144ee3;
  color: #c9ced6;
}
.disp-block {
  display: block;
  width: 95%;
  margin-left: 0;
}
.inputWrapper {
  text-align: center;
  margin-bottom: 2.5rem;
  padding-left: 30%;
  width: 100vw;
  overflow-x: hidden;
}
.tab {
  background-color: #101931;
  background-image: linear-gradient(
    to right,
    #101931 5%,
    #131d36 12.5%,
    #0d1630 30.5%,
    #0e162c 42.5%,
    #101931 50.5%,
    #121d38 90.5%
  );
  padding: 2rem 2rem;
  padding-left: 30%;
  align-items: center;
  margin-bottom: 5.5rem;
  margin-top: 10rem;
  display: flex;
}
.tab-wrapper {
  margin-left: 5rem;
  display: flex;
  align-items: center;
}
.tab-link {
  color: #fff;
  text-decoration: none;
  font-size: 2rem;
  text-transform: capitalize;
}
.tab-link:active {
  color: #302e2e;
}
.tab-link:visited {
  color: #c9ced6;
}
.Profile {
  font-size: 1.5rem;
  margin-left: 30%;
  border: 1.5px solid #5e5f61;
  /* box-sizing: border-box; */
  text-align: center;
  border-radius: 20px 20px;
  width: 25rem;
  height: 3.5rem;
  align-items: center;
  align-self: center;
  padding-bottom: 1rem;
  position: relative;
}
.username-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.username-wrapper::after {
  content: '\25BE';
  font-size: 3rem;
}
.username-wrapper.active::after {
  font-size: 3rem;
  transform: rotate(180deg);
}
.user-content-disp {
  display: none;
  position: absolute;
  background-color: #0a1d4d;
  color: #c9ced6;
  min-width: 90%;
  left: 1rem;
  box-sizing: border-box;
}
.list-wrapper {
  display: flex;
  align-items: center;
  padding-left: 1.8rem;
  box-sizing: border-box;
}
.user-list {
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding: 0.8rem 0.8rem;
  list-style: none;
  text-align: left;
  width: 100%;
  box-sizing: border-box;
}
.list-wrapper:hover {
  background-color: #0f1c35;
  width: 100%;
}
.username-wrapper.active + .user-content-disp {
  display: block;
}
.Hist-p {
  color: #c9ced6;
  margin-left: 10%;
  font-size: 2rem;
  text-transform: capitalize;
}
.tab-icon,
.user-icon {
  width: 20px;
  height: 20px;
  stroke: #c9ced6;
  margin-right: 0.5rem;
}
.delete-btn-wrapper {
  display: flex;
  gap: 2rem;
}
.delete-qst {
  color: #c9ced6;
  text-align: center;
  font-size: 1.8rem;
}
.yes-btn {
  background-color: #144ee3;
  color: #c9ced6;
  width: 30%;
  display: block;
}
.no-btn {
  display: block;
  background-color: #3c3c3c;
  color: #c9ced6;
  width: 30%;
}
.alertMsg {
  position: fixed;
  top: 4%;
  left: 30%;
  min-width: 30rem;
  background-color: #0a1d4d;
  z-index: 10000;
  padding: 0.9rem 2rem;
  border-radius: 8px 8px;
  font-size: 1.5rem;
  text-align: center;
}
.fail {
  color: #fff;
  background-color: red;
}
.success {
  color: #fff;
  background-color: #0a1d4d;

  border: 0.2px solid #c9ced6;
}
.scissor-icon {
  width: 30px;
  height: 30px;
}
.setting-wrapper {
  position: absolute;
  background-color: rgba(24, 30, 41, 0.8);
  padding-top: 20%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  height: 100%;
}
.setting-wrapper-active {
  display: block;
}
.setting-form {
  background-color: #0f1c35;
  color: #c9ced6;
}
.setting-input {
  padding: 0.5rem 0.5rem;
  background-color: #c9ced6;
  color: #302e2e;
  border-radius: 8px 8px;
  width: 90%;
}
.setting-cancel-btn {
  font-size: 2rem;
  margin-left: 95%;
  margin-top: -4rem;
  cursor: pointer;
}
.setting-cancel-btn:hover {
  color: red;
}
.setting-input::placeholder {
  color: #3c3c3c;
}
.user-list-link {
  text-decoration: none;
  color: #c9ced6;
}
.link-em {
  text-align: right;
  display: inline-block;
  margin: 0 auto;
  color: #eb568e;
}
.redirect-link {
  text-decoration: none;
}
.mobile-disp-db {
  color: #c9ced6;
  width: 70%;
  margin-left: 10%;
  display: none;
  margin-bottom: 2rem;
}
.mobile-disp-newUrl {
  color: #c9ced6;
  padding: 0.5rem 1.5rem;
  background-color: #3c3c3c;
  font-size: 1.8rem;
  border-radius: 8px 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  height: 1rem;
  border: solid red;
}
.mobile-disp-newUrl::after {
  content: '\25BE';
  font-size: 3rem;
}
.mobile-disp-newUrl.active::after {
  content: '\25BE';
  transform: rotate(180deg);
}
.mobile-disp-newUrl:hover {
  background-color: #0b101b;
  color: #fff;
}
.mobile-disp-list {
  background-color: #121d38;
  margin-top: 2rem;
  margin-bottom: 4rem;
  padding: 0.5rem 1.5rem;
  display: none;
}
.mobile-disp-newUrl.active + .display-block {
  display: block;
  box-sizing: border-box;
}
.mobile-disp-list-sp-el {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding: 0.5rem 0.5rem;
  font-size: 1.2rem;
  box-sizing: border-box;
}
.mobile-disp-list-img-el {
  width: 30px;
  height: 30px;
}
.tab-disp {
  display: none;
}
.btn-disp {
  display: none;
}
/* MEDIA QUERY */

@media (max-width: 75.9em) {
  body {
    overflow-x: hidden;
  }
  .table-container {
    width: 100%;
  }
  .long-content {
    padding: 8px;
    /* border: 1px solid #ddd; */
    max-width: 100px;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
  }
}

@media (max-width: 56em) {
  table {
    display: none;
  }
  .mobile-disp-db {
    display: block;
  }
}
@media (max-width: 53.13em) {
  body {
    overflow-x: hidden;
  }
  .inputWrapper {
    padding-left: 13%;
  }
  .short-plhol {
    width: 70%;
  }
  .login-form {
    width: 60%;
  }
  .tab {
    padding-left: 10%;
  }
}
@media (max-width: 44.8em) {
  /* media quries for the heading */
  .header-container {
    flex-wrap: nowrap;
  }
}
@media (max-width: 43.8em) {
  .img-wrapper {
    width: 90%;
  }
  .brief-intro {
    width: 90%;
    padding: 1.2rem 1.2rem;
  }
  .plachol-wrapper {
    width: 90%;
  }
  .btn-container {
    display: none;
  }
  .harmbuger {
    display: block;
  }
}
@media (max-width: 41em) {
  .user-content-disp {
    width: 30rem;
    margin-left: -80%;
    margin-top: 2rem;
  }
  .username-wrapper-p {
    max-width: 50px;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    padding-left: 0.5rem;
  }
}
@media (max-width: 37.5em) {
  .login-form {
    width: 80%;
  }
  .mobile-disp-db {
    width: 85%;
    margin-left: 8%;
  }
}
@media (max-width: 35em) {
  .tab-wrapper {
    display: none;
  }
  .tab-disp {
    display: block;
  }
  .tab-icon {
    width: 35px;
    height: 35px;
  }
  .user-content-disp {
    margin-left: -20rem;
  }
}

@media (max-width: 31.25em) {
}
@media (max-width: 29.7em) {
  .btn-disp {
    display: block;
    margin-top: 1.5rem;
    margin-left: -1%;
    width: 15rem;
  }
  .btn-dashboard {
    display: none;
  }
  .plchol-input {
    border: none;
    width: 90%;
  }
}
@media (max-width: 25.44em) {
  .user-content-disp {
    width: 30rem;
    margin-left: -25rem;
  }
}
@media (max-width: 24.4em) {
  .mobile-disp-newUrl-p {
    max-width: 100px;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    padding-left: 0.5rem;
  }
  /* .btn {
    display: none;
  } */
  .plchol-input {
    border: none;
  }
  .shorten-btn {
    display: block;
  }
}

@media (max-width: 22em) {
  .header-container {
    padding-left: 0;
  }
  .dashboard-logo {
    margin-left: -10rem;
    border: solid red;
  }
  .tab {
    padding-left: 0;
  }
}
@media (max-width: 15em) {
  .harmbuger {
    width: 30px;
    height: 30px;
  }
  .brandName {
    font-size: 2rem;
    margin-left: -10rem;
  }
  .briefly-heading {
    font-size: 2rem;
    padding: 2rem 2rem;
  }
}
